.Spinner {
  display: flex;
  text-align: center;
  justify-content: center;
}

.Spinner-logo {
  height: 5vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Spinner-logo {
    animation: Spinner-logo-spin infinite 20s linear;
  }
}

@keyframes Spinner-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* .Spinner-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .Spinner-link {
  color: #61dafb;
} */
