.form {
  max-width: 40rem;
  margin: 2rem auto;
}

.form label,
.form input,
.form textarea {
  display: block;
  color: white;
  width: 100%;
}

.form input,
.form textarea {
  font: inherit;
  color: black;
  padding: 0.25rem;
}

.actions {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
